.main-page {
  background-color: #257db863;
  padding: 20px;
  text-align: center;
  /* height: 100vh; */
}

.title-app {
  font-family: "Alfa Slab One", cursive;
  font-family: "DynaPuff", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Rubik Puddles", cursive;
  font-size: 60px;
}

.note-image {
  width: 70%;
  height: auto;
  margin-top: 30px;
}
