.main-page {
  background-color: #257db863;
  padding: 20px;
  text-align: center;
  height: 100vh;
}

.title {
  font-family: "Arial", sans-serif;
  font-size: 52px;
  color: #0084ff;
  margin-bottom: 10px;
}

.note-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
