.note {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #b90e0e;
  border-radius: 5px;
  background-color: beige;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-link:hover {
  background-color: #ddd;
}
.note-link {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.link-spacing {
  width: 10px;
  display: inline-block;
}

.note-content {
  margin-top: 10px;
}

.note-id {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.note-title {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.note-category {
  font-size: 14px;
  color: #160303;
  text-align: center;
}

.note a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.note-line {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}
