.note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.note {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  font-family: Arial, sans-serif;
}

.note h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.note p {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
}

.note-content {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.note-content p {
  font-size: 14px;
  color: #444;
  line-height: 1.4;
}
.note-len {
  word-break: break-word;
}
